%link{ :rel=> 'stylesheet', :type => 'text/css',  :href => '/css/browse.css' }
%link{ :rel=> 'stylesheet', :type => 'text/css',  :href => '/css/search.css' }

= haml :searchForm, :layout => false

%div.card-container
  - data.each_pair do |category, subcategories|
    .panel.panel-default.category
      .panel-heading
        #{category}
      .panel-body
        - subcategories.each_pair do |subcategory, _|
          %li
            %a{href: "/categorie/#{subcategory}"} #{subcategory}

- if random_data_sets.size > 0
  .top
    Exemple de seturi de date
    - random_data_sets.each do |data_set|
      %ul
        %li
          %a{href: data_set.url} #{data_set.description}


%script{ :src => '/js/browse.js'}
%script{ :src => '/js/search.js'}