%link{ :rel=> 'stylesheet', :type => 'text/css',  :href => '/css/graph.css' }
%h2 #{table.description}
%div.col-md-9#graph_area
%div.col-md-3
  #select-area
    - table.scheme.each_pair do |column, values|
      %div.column_select
        %b.column_name #{column}
        %select.form-control
          - values.keys.each do |value|
            - if value == table.columns_with_selected_values[column]
              %option{ :selected=>'selected'} #{value}
            - else
              %option #{value}
    %button#query_btn.btn.btn-primary Selecteaza

  #year-selection.small-number
  #number-selection.big-number


%script{ :src => 'http://d3js.org/d3.v3.min.js' }
%script{ :src => '/js/main.js' }
%script{ :src => '/js/graph.js' }
%script
  graph_for_data("#{table.url}", "#{table.measure_unit}");
