%link{ :rel=> 'stylesheet', :type => 'text/css',  :href => '/css/graph.css' }
%h2 #{table.description}
%div.col-md-9
  %div.loading Graficul va fi gata pentru vizualizare in cateva momente...
  %canvas#graph_area{ width: 800, height: 500 }
%div.col-md-3
  #select-area
    - table.scheme.each_pair do |column, values|
      %div.column_select
        %b.column_name #{column}
        %select.form-control
          - values.keys.each do |value|
            - if value == table.columns_with_selected_values[column]
              %option{ :selected=>'selected'} #{value}
            - else
              %option #{value}
    %button#query_btn.btn.btn-primary Arata

  %div.line.to-bottom
    Descarca:
    %a.btn.btn-success{ download: "#{table.description}.png", id: 'download', href: ''}
      Grafic
    %a.btn.btn-info{ download: "#{table.description}.csv", href: table.url}
      Date
  %div.line.to-bottom
    %ssk-group
      %a{ href:'', class:'ssk ssk-twitter'}
      %a{ href:'', class:'ssk ssk-facebook'}
      %a{ href:'', class:'ssk ssk-linkedin'}

%script{ :src => 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js' }
%script{ :src => 'http://d3js.org/d3.v3.min.js' }
%script{ :src => '/js/main.js' }
%script{ :src => '/js/graph.js' }
%script{ :src => '/js/social-share-kit.js' }
%script{ type: 'text/javascript'}
  SocialShareKit.init();
%script
  graph_for_data("#{table.url}", "#{table.measure_unit}");
- content_for(:title) do
  #{table.description}